<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
    <title>Consulta de Ingresos - Proyecto#3</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h1 class="text-center">Consulta de Ingresos</h1>
        <form action="/ruta_a_tu_vista" method="GET" class="mb-3">
            <div class="input-group">
                <label for="month" class="input-group-text">Mes</label>
                <select id="month" name="month" class="form-control">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Consultar</button>
                </div>
            </div>
        </form>
        <canvas id="myChart"></canvas>
        <button id="download" style="display: none;">Descargar PDF</button>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();
            const mes = document.getElementById('month').value;
            fetch('/sumarMeses/' + mes)
                .then(response => response.text())
                .then(html => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');
                    const data = JSON.parse(doc.getElementById('data').textContent);
        
                    // Array con los nombres de los meses
                    const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
        
                    // Usa los índices de las labels para buscar los nombres de los meses correspondientes
                    const labels = data.labels.map(label => monthNames[label - 1]);
        
                    const ctx = document.getElementById('myChart').getContext('2d');
        
                    const datasets = Object.keys(data.total_pagos_por_banco).map((banco, index) => {
                        // Genera un color aleatorio
                        const color = `rgba(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, 0.5)`;
                    
                        return {
                            label: `Total pagos - ${banco}`,
                            data: data.total_pagos_por_banco[banco],
                            backgroundColor: color, // Usa el color aleatorio
                            borderColor: color.replace('0.5', '1'), // Usa un color de borde más oscuro
                            borderWidth: 2, // Aumenta el ancho del borde
                            barPercentage: 0.5 // Reduce el ancho de las barras
                        };
                    });

                    // Agrega el conjunto de datos de las facturas
                    datasets.push({
                        label: 'Total facturas',
                        data: data.total_facturas,
                        backgroundColor: 'rgba(0, 123, 255, 0.5)', // Cambia el color de fondo a azul
                        borderColor: 'rgba(0, 123, 255, 1)', // Cambia el color del borde a azul
                        borderWidth: 2, // Aumenta el ancho del borde
                        barPercentage: 0.5 // Reduce el ancho de las barras
                    });
        
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: datasets
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                    // Muestra el botón de descarga después de generar la gráfica
                    document.getElementById('download').style.display = 'block';
                });
        });
        document.getElementById('download').addEventListener('click', function() {
            setTimeout(function() {
                html2canvas(document.body).then(function(canvas) {
                    var imgData = canvas.toDataURL('image/png');
                    var pdf = new jsPDF('p', 'mm', 'a4'); // A4 size
                    var width = pdf.internal.pageSize.getWidth();
                    var height = canvas.height * width / canvas.width;
                    pdf.addImage(imgData, 'PNG', 0, 0, width, height);
                    pdf.save("download.pdf");
                });
            }, 200); // Espera 200ms antes de generar el PDF
        });
    </script>
    <script id="data" type="application/json">
        {{ data|safe }}
    </script>
</body>
</html>