<?xml version="1.0" encoding="utf-8" ?>
    <config>
        <clientes>
                <cliente>
                    <NIT>A012</NIT>
                    <nombre>Cliente1</nombre>
                </cliente>
                <cliente>
                    <NIT>B013</NIT>
                    <nombre>Cliente3</nombre>
                </cliente>
                <cliente>
                    <NIT>Z014</NIT>
                    <nombre>Cliente4</nombre>
                </cliente>
                <cliente>
                    <NIT>G019</NIT>
                    <nombre>Cliente9</nombre>
                </cliente>
        </clientes>
        <bancos>
                <banco>
                    <codigo>B1</codigo>
                    <nombre>Banco1</nombre>
                </banco>
                <banco>
                    <codigo>C2</codigo>
                    <nombre>Banco2</nombre>
                </banco>
                <banco>
                    <codigo>A2</codigo>
                    <nombre>Banco2</nombre>
                </banco>
                <banco>
                    <codigo>V2</codigo>
                    <nombre>Banco2</nombre>
                </banco>
        </bancos>
    </config>
